<div class="container-color vh-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="text-center mb-3">
          <h1>Crie uma nova conta</h1>
          <p>PRODUTORES LOCAIS DE ALIMENTOS DE SOBRADINHO</p>
        </div>
        <form [formGroup]="registerForm">
          <div class="mb-3">
            <input type="text" class="form-control" formControlName='NOME' placeholder="Nome do Produtor" id="producerName">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" formControlName='EMAIL' placeholder="Email" id="email">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" formControlName='SENHA' placeholder="Senha" id="password">
          </div>
          <div class="mb-3">
            <textarea class="form-control" placeholder="Descrição" formControlName='DESCRICAO' id="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName='ENDERECO' placeholder="Endereço" id="address">
          </div>
          <div class="mb-3">
            <input type="tel" class="form-control" formControlName='TELEFONE' placeholder="Telefone" id="phone">
          </div>
          <button  type="button" (click)="cadastrar()" class="btn btn-dark w-100">CADASTRE-SE</button>
        </form>
      </div>
    </div>
  </div>