/* As definições de estilo  */
.table-bordered {
    border: 2px solid #dee2e6;
  }
  
  .table thead th {
    background-color: #6c757d; 
    color: white;
  }
  
  .table tbody td {
    background-color: #e9ecef; 
  }
  